
<ion-view view-title="{{publicacao.nome}}">
  <ion-content>

    <div class="item item-avatar">
      <img src="{{publicacao.face}}">
      <h2>{{publicacao.nome}}</h2>
      <p>{{publicacao.data}}</p>
      <img class="full-image" src="{{publicacao.foto}}">
      <p>
        {{publicacao.descricao}}
      </p>
    
    </div>
      <ul  ng-repeat="comentario in publicacao.comentarios">
        <li id="litem">
          <div class="row">
            <div class="col col-98 triangle-border right">
              <p >
                {{comentario.comentario}} 
              </p>
            </div>
            <div class="col col-2">
              <div class="row item item-avatar">         
                <img id="imgcoment" src="{{comentario.face}}">  
              </div>
              <div class="row">
                <p id="nomecomentario">{{comentario.nome}}</p>     
              </div>  
              <div class="row">
                <p id="datacomentario">{{comentario.data}}</p>
              </div>               
            </div>         
          </div>  
        </li>
      </ul>
 
    <div class="list">
      <div class="row">
        <div class="col col-80">
          <label class="item item-input">
            <textarea id="comentario" placeholder="Digite seu comentário"></textarea> 
           
          </label>
         
        </div>
        <div class="col col-20">
          <div class="row bttsComent">
            <div class="col col-5">
              <button ng-click="cleanComent()" class="button button-assertive">
                <i class="icon  ion-android-cancel"></i>
              </button>
            </div>
          </div> 
         </div>
      </div>   
       
      <button id="bttcoment" class="  button button-block  button-assertive" ng-click="addComent()">
        Comentar
      </button>
       
    </div>
  </ion-content>
   
</ion-view>
