<ion-view view-title="Fiscalizar">

    <ion-content class="padding" on-swipe-right="goBack()" on-swipe-left="goForward()">
      <ion-refresher
      pulling-text="Puxe para atualizar..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list card" ng-repeat="publicacao in publicacoes">

      <div class="item item-avatar">
        <img src="{{publicacao.face}}">
        <h2>{{publicacao.nome}}</h2>
        <p>{{publicacao.data}}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{publicacao.foto}}">
        <p>
          {{publicacao.descricao}}
        </p>
      </div>
      <div class="item row ">
         <div class="col">
           <a href="#/tab/fiscalizar" class=" button button-clean button-light" ng-click="updateApoio(publicacao.id)">{{publicacao.apoio}} Apoiar</a>
         </div>
         <div class="col">
           <a href="#/tab/fiscalizar/{{publicacao.id}}" class=" button button-clean button-light">{{publicacao.nComentarios}} Comentários</a>
         </div>
         <div class="col">
           <a href="#/tab/fiscalizar" class="  button button-clean button-light">Divulgar</a>
         </div>

      </div>
    </div>
  </ion-content>
</ion-view>
