<ion-view view-title="Colabore.ufpe">
  <ion-content class="padding" on-swipe-right="goBack()" on-swipe-left="goForward()">
    <div class="list">
      <label class="item item-input">
        <textarea rows=5 id="descricaoPublicar" placeholder="Descreva o que está acontecendo.." onkeydown="autoResize()"></textarea>
      </label>
    </div>  
    <div class="footer row">
      <div class="col col-80">
        <button class=" button button-block button-assertive ">Enviar</button>
      </div>
      <div class="col col-20">
      </div>
    </div>
  </ion-content>
  <nav mfb-menu position="br" effect="zoomin" 
     active-icon="ion-android-close" resting-icon="ion-plus-round"
     toggling-method="click">
    <button mfb-button icon="ion-camera" label="Câmera"></button>
    <button mfb-button icon="ion-android-image" label="Galeria"></button>
  </nav>
</ion-view>